vaadin-tabs vaadin-tab[selected] {
    color: #ff7201 !important; /
}

vaadin-tabs vaadin-tab[selected]::before,
vaadin-tabs vaadin-tab[selected]::after {
    background-color: #ff7201 !important;
    border-color: #ff7201 !important;
}

vaadin-tabs vaadin-tab{
    color: white;
}


vaadin-side-nav-item[current].side-nav-item::part(content){
    color: darkblue;
    background-color:hsl(212 86% 89% / 1.5);

}

:hover::part(link){
    color:blue;
}

vaadin-side-nav-item.side-nav-item::part(content){
    color:white;
}
vaadin-side-nav-item[current]>vaadin-icon{
    color:darkblue;
}

vaadin-side-nav-item>vaadin-icon{
    color:white;
}



